
<div class="jumbotron">
  <div class="container">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">

      <div class="media">
        <div class="media-body">
          <h1 class="media-heading">
            Sawara
            <small>Japanese Spanish Mackerel</small>
          </h1>

          <h4>Alternate Names</h4>
          <dl class="dl-horizontal">
            <dt>Sagochi (さごち)</dt>
            <dd>Young Japanese Spanish Mackerel</dd>
          </dl>
        </div>

        <div class="media-right">
          <span class="kanji text-muted">鰆</span>
        </div>
      </div>

      <p>
        Spanish mackerel can be very fishy if they are not fresh. Fresh spanish mackerel meat is very soft, less tender, and melt, but it is very tasty. It can be the most tastiest in mackerel family. The color usually is clear white with a little red pink color closer to the skin. (Hard) skin should be removed. However, a little (soft) silver skin is perfectly fine to be eaten. The belly part has softer texture to melting texture if the chef cut them very thinly.
      </p>

      <table class="table">
        <tr>
          <th>Conservation Status</th>
          <td></td>
        </tr>
        <tr>
          <th>Season</th>
          <td>late Autumn to end of Spring</td>
        </tr>
        <tr>
          <th>Flavor</th>
          <td>
            <span class="label label-default">White</span>
            <span class="label label-default">Succulent</span>
          </td>
        </tr>

        <tr>
          <th>Often confused with</th>
          <td>

            <%= link_to "Aji", "#" %>
            <%= link_to "Saba", "#" %>
          </td>
        </tr>
      </table>

      <h4>Preparation and Handling</h4>
      <p>
        Mackerel family is perilous to serve raw because mackerel contains larvae and parasites.
        The popular way to prepare is salt them or soak them in vinegar for few hours.
      </p>


      <h4>Identification</h4>
      <p>
        Mackerel typically have vertical stripes on their backs and deeply forked tails.
      </p>
      <%= image "sawara.jpg" %>


      <div class="row">
        <div class="col-md-12">


          <h3>Reviews</h3>
          <h4>And where they were eaten</h4>

          <h3>Graph of Commercial capture</h3>
        </div>
      </div>

    </div>

    <div class="col-md-3 col-md-offset-1">
      <table class="table">
        <tr>
          <th>Common Length</th>
          <td>55cm to 125cm</td>
        </tr>
        <tr>
          <th>Common Weight</th>
          <td>2kg to 15kg</td>
        </tr>
        <tr>
          <th>Location</th>
          <td>Coast of Japan, East and South China Seas</td>
        </tr>
        <tr>
          <th>Harvesting Method</th>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">
            <h5>Scientific Classification</h5>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>

</div>
